@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.own_flex_classes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #0D203C;
    padding: 17px 0;
}
.img_left_side_box{
    display: flex;
    align-items: center;
}
.img_left_side_box > img {
    height: 100px;
    padding: 0;
    margin: 0;
    position: relative;
    top: -10px;
    left: -15px;
}
.img_left_side_box .stronge_head {
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.img_left_side_box h3{
    display: flex;
    flex-direction: column;
}
.stronge_head span.border_span{
    position: relative;
    display: inline-block;
    margin: 0px 10px;
}
.img_left_side_box span.two{
    font-size: 19px;
    color: white;
    margin: 10px 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.img_left_side_box span.three{
    font-size: 17px;
    color: green;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
.market_cup{
    display: flex;
}
.market_cup h3{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
}
.market_cup h3 span.one{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.market_cup h3 span.two{
    font-size: 19px;
    line-height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.margin-top-two{
    margin-top: 20px;
}
.buy_now{
    font-family: 'Lato', sans-serif;
    background: linear-gradient(90deg,#c09434,#caa344,#d3b154,#ddc064,#e7cf75,#e7cf75,#e7cf75,#e7cf75,#ddc064,#d3b154,#caa344,#c09434);
    color: #443107;
    border: none;
    padding: 7px 1px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
    transition: all 0.5s;
    overflow: hidden;
    position: relative;
}
.buy_now:hover{
    color: #fff;
    animation: swoosh 0.4s ease-out 0.2s;
}

.buy_now:before,
.buy_now:after{
    content: "";
    background-color: #8f939396;
    height: 100%;
    width: 50%;
    opacity: 1;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 0;
    transition: all 0.4s ease-out 0.1s;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.buy_now:after{
    opacity: 0;
    transform: scale(0.9,0.7);
    left: 0;
    transition: all 0.3s ease-out 0s;
}
.buy_now:before{ left: 100%; }
.buy_now:hover:after{
    opacity: 0.3;
    transform: scale(1);
}
.left-right-head{
    color: #F4E286;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding: 24px 18px;
}
.comming_text{
    display: block;
    color: #F4E286;
    font-size: 25px;
    letter-spacing: 2px;
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.swap_box{
    background: #0D203C;
    /* height: 83.1vh; */
}
.exchange_links a {
    display: inline-flex;
    width: 45%;
    border: 0.2px solid #F4E286;
    padding: 1px 4px;
    margin: 5px 5px;
    object-fit: fill;
    border-radius: 5px;
    margin: 3px 5px;
}
.exchange_links a > img{
    /* height: 58px; */
    width: 100%;
    object-fit: fill;
    margin: 4px;
}
.portfolio{
    display: none;
}
.Adds_div > img{
    margin: 20px auto;
}
div.col-lg-6 > canvas{
    background: #0D203C;
    margin: 17px 0;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

@media screen and (max-width:993px) {
    .img_left_side_box .stronge_head {
        font-size: 25px;
    }
    .img_left_side_box span.two {
        font-size: 19px;
    }
    .market_cup h3 span.one {
        font-size: 25px;
    }
    .Adds_div > img{
        display: none;
    }
}

@media screen and (max-width:779px){
    .img_left_side_box .stronge_head {
        font-size: 20px;
    }
    .market_cup h3 span.one {
        font-size: 20px;
    }
    .img_left_side_box span.two {
        font-size: 15px;
    }
    .market_cup h3 span.two {
        font-size: 19px;
    }
    .img_left_side_box span.three {
        font-size: 15px;
    }
}
@media screen and (max-width:650px){
    .img_left_side_box > img {
        height: 68px;
        left: 0%;
    }
    .img_left_side_box .stronge_head {
        font-size: 17px;
    }
    .market_cup h3 span.one {
        font-size: 17px;
    }
    .market_cup h3 span.two {
        font-size: 16px;
    }
    .buy_now {
        font-size: 15px;
    }
}
@media screen and (max-width:551px){
    .img_left_side_box .stronge_head {
        font-size: 19px;
    }
    .img_left_side_box span.two {
        font-size: 16px;
    }
    .market_cup h3 span.one {
        font-size: 19px;
    }
    .margin-top-two {
        margin-top: 15px;
    }
    .market_cup h3 span.two {
        font-size: 19px;
    }
}
@media screen and (max-width: 501px) {

    .img_left_side_box {
        justify-content: center;
    }
    .img_left_side_box > img {
        padding: 10px;
    }
    .own_flex_classes {
        display: flex;
        flex-direction: column;
    }
    .market_cup h3{
        display: inline-block !important;
    }
    .market_cup{
        justify-content: center;
    }
    .market_cup h3 span.one {
        margin: 0 10px;
    }
    .buy_now {
        padding: 7px 14px;
        margin: 0 10px;
        display: inline-block;
    }

    .img_left_side_box > img {
        height: 61px;
        border-radius: 8px;
        border: 2px solid #808080bd;
        padding: 5px !important;
        object-fit: contain;
        left: unset !important;
    }
    .img_left_side_box h3 {
        display: inline-block;
        margin: 0 23px;
    }
    .img_left_side_box span.three {
        display: block;
        line-height: 34px;
    }    
    .img_left_side_box .stronge_head {
        letter-spacing: 3px;
    }
    .img_left_side_box span.two {
        font-size: 16px;
        letter-spacing: 3px;
    }
}
@media screen and (max-width:416px) {
    .buy_now {
        display: block !important;
        margin: auto !important;
    }
    
}
@media screen and (max-width: 400px) {
    div.col-lg-6 > canvas{
        height: 33vh !important;
    }
}

@media only screen and (max-width: 381px){
    .img_left_side_box > img {
        height: 45px;
        top: -5px !important;
    }
    .img_left_side_box .stronge_head {
        font-size: 15px;
    }
    .img_left_side_box span.two {
        font-size: 15px;
        letter-spacing: 1px;
    }
    .img_left_side_box span.three {
        display: block;
        line-height: 50px;
        letter-spacing: 0;
        font-size: 14px;
    }
    .market_cup h3 span.one {
        font-size: 17px;
    }
    .market_cup h3 span.two {
        font-size: 19px;
    }
}
@media only screen and (max-width: 320px){
    .img_left_side_box > img {
        height: 35px;
        top: -10px !important;
    }
    .img_left_side_box .stronge_head {
        letter-spacing: 0;
    }
    .img_left_side_box span.two {
        letter-spacing: 0px;
    }
    .market_cup h3 span.one {
        font-size: 15px;
    }
    .market_cup h3 span.two {
        font-size: 15px;
    }
}